{% extends 'base/index.html' %}
{% load static %}
{% load bootstrap %}
{% block title %}
    Recuperar senha
{% endblock title %}

{% block content %}

    <div class="main-content">
        <!-- Header -->
        <div class="header bg-gradient-primary py-7 py-lg-8">
            <div class="container" style="margin-top: -75px;">
                <div class="header-body text-center mb-4">
                    <div class="row justify-content-center">
                        <div class="col-lg-5 col-md-6">
                            <img style="max-height: none !important" src="{% static 'img/logo-white.png' %}"
                                 class="navbar-brand-img" alt="logo" height="120px" width="120px" color="White">
                        </div>
                    </div>
                </div>
            </div>
            <div class="separator separator-bottom separator-skew zindex-100">
                <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
                     xmlns="http://www.w3.org/2000/svg">
                    <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
                </svg>
            </div>
        </div>
        <!-- Page content -->
        <div class="container mt--8 pb-5">
            <div class="row justify-content-center">
                <div class="col-10">
                    <div class="card bg-secondary shadow border-0">

                        <div class="card-body px-lg-5 py-lg-5">
                            <div class="text-center text-muted mb-4">
                                <strong>Redefinição de senha enviada</strong>
                                <br/><br/>
                                <small class="text-black-50 text-left">
                                    Nós te enviamos por e-mail as instruções para redefinição de sua senha, se existir
                                    uma conta com o e-mail que você forneceu. Você receberá a mensagem em breve.<br/>

                                    Se você não receber um e-mail, por favor verifique se você digitou o endereço que
                                    você usou para se registrar, e verificar a sua pasta de spam.
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}