{% load static %}

<link href="{% static 'img/aguia.png' %}?version={{version}}" rel="icon" type="image/png">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<!-- Icons -->
<link href="{% static '/plugins/nucleo/css/nucleo.css' %}?version={{version}}" rel="stylesheet"/>
<link href="{% static '/plugins/@fortawesome/fontawesome-free/css/all.min.css' %}?version={{version}}" rel="stylesheet" />
<!-- CSS Files -->
<link href="{% static '/css/argon-dashboard.css' %}?version={{version}}" rel="stylesheet"/>
<link href="{% static '/css/main.css' %}?version={{version}}" rel="stylesheet"/>
<link href="{% static '/plugins/jquery/dist/datepicker.css' %}?version={{version}}" rel="stylesheet"/>

<link href="{% static '/plugins/select2/select2.min.css' %}?version={{version}}" rel="stylesheet"/>