{% load static %}
<script src="{% static 'plugins/jquery/dist/jquery.min.js' %}?version={{version}}"></script>
<script src="{% static 'plugins/bootstrap/dist/js/bootstrap.bundle.min.js' %}?version={{version}}"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<!--   Optional JS   -->
<script src="{% static 'plugins/chart.js/dist/Chart.min.js' %}?version={{version}}"></script>
<script src="{% static 'plugins/chart.js/dist/Chart.extension.js' %}?version={{version}}"></script>
<!--   Argon JS   -->
<script src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script>
<script src="{% static '/js/kit-fontawesome.js' %}?version={{version}}" crossorigin="anonymous"></script>

<script src="{% static '/plugins/jquery/dist/datepicker.js' %}?version={{version}}"></script>
<script src="{% static '/js/jquery.mask.min.js' %}?version={{version}}"></script>
<script src="{% static '/js/main.js' %}?version={{version}}"></script>

<script src="{% static '/plugins/select2/select2.min.js' %}?version={{version}}"></script>